
body{
    background-color:rgb(255, 255, 255);
    font-family: 'Syne Mono', monospace;
} 

#img-principal {
    height: 1000px;
    color: rgb(252, 251, 250);  
    /* background-image: url(https://images.unsplash.com/photo-1497553412801-8d526a1d8075?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=655&q=80) ; */
    background-image: url(https://images.unsplash.com/photo-1534283513612-067f6b3b97ec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=757&q=80) ;
    /* background-image: url(https://images.unsplash.com/photo-1598569388285-01bed75fbe42?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80); */
    background-size: cover;
    background-position:center;
    background-blend-mode:darken;
    text-shadow: 2px 2px 2px black; 
    /* opacity: 0.9; */
}

.navbar {
    background-color:#adc8e6;
    opacity: 0.9;
    padding-left: 5rem;
}

.dropdown-menu {
    font-family: 'Archivo Narrow', sans-serif;
    font-size:auto;
    background-color: #adc8e6;
    /* opacity: 0.5; */
    color:white;
}

#dropdownMenuButton1 {
    background: white ;
    color: black;
}

#parallax-latina {
    background-image: url(https://images.unsplash.com/photo-1600670897969-3e34829b3218?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80);
  /* Full height */
    height: 500px;
    width: 100%;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 50rem; 
    padding-top: 30rem; */
    }

#parallax-norte {
    background-image: url(https://images.unsplash.com/photo-1517303787721-2830f0484010?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1491&q=80);
    /* Full height */
    height: 500px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 50rem; 
    padding-top: 30rem; */
    }

#parallax-asia {
    background-image: url(https://images.unsplash.com/photo-1464817739973-0128fe77aaa1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    /* Full height */
    height: 500px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 50rem; 
    padding-top: 30rem; */
    }

#parallax-europa {
    background-image: url(https://images.unsplash.com/photo-1614081162574-37e74ac7768b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    /* Full height */
    height: 500px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 50rem; 
    padding-top: 30rem; */
    }

#parallax-africa {
    /* background-image: url(https://images.unsplash.com/photo-1548275709-ae49cf37542f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1456&q=80); */
    background-image: url(https://images.unsplash.com/photo-1489392191049-fc10c97e64b6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1348&q=80);
    /* Full height */
    height: 500px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 50rem; 
    padding-top: 30rem; */
    }

#parallax-oceania {
    background-image: url(https://images.unsplash.com/photo-1588001400947-6385aef4ab0e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80);
    /* background-image: url(https://images.unsplash.com/photo-1589330273594-fade1ee91647?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80); */
    /* Full height */
    height: 500px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 50rem; 
    padding-top: 30rem; */
    }

/*style-card*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}
    
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
    
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
    
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
    
.flip-card-front {
    background-color: #bbb;
    color: black;
}
    
.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    width: 270px;
    height: 280px;
}

main {
    background:#b6dde2;
}

#fondo-card{
    /* background-image: url(https://media.giphy.com/media/xGrjBxxEBvWTBtkAk4/giphy-downsized-large.gif); */
    padding-bottom: 8rem;
}

#fondo-parallax {
    background: white;
    padding-right: 3rem;
    padding-left: 3rem;
}

#destinos {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
}

#border {
    border-style: double;
    padding-left: 3rem;
    background: white;
}

/* footer */
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: black;
    border-top: 1px solid #e5e5e5;
}

.footer > * {
    flex:  1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #999;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
}
    
.legal__links {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
        flex: 1;
}
    
    .nav__item--extra {
        flex-grow: 2;
    }
    
    .footer__addr {
        flex: 1 0px;
    }
    
    .footer__nav {
        flex: 2 0px;
    }
}

/* latino america */
#title-card-01 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width: 300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-02 {
    background-image:  url(https://images.unsplash.com/photo-1577801599718-f4e3ad3fc794?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-03 {
    background-image:  url(https://images.unsplash.com/photo-1566804310514-706a618720c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-04 {
    background-image:  url(https://images.unsplash.com/photo-1483729558449-99ef09a8c325?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-05 {
    background-image:  url(https://images.unsplash.com/photo-1562967688-0bff5e64548a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-06 {
    background-image:  url(https://images.unsplash.com/photo-1573826925896-9cdd8e2c4714?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width: 300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-07 {
    background-image:  url(https://images.unsplash.com/photo-1532996152552-eaffc4edfc1a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-08 {
    background-image:  url(https://images.unsplash.com/photo-1598289993193-5efe1657f971?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-09 {
    background-image:  url(https://images.unsplash.com/photo-1585259737146-f8be1a0b2812?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-10 {
    background-image:  url(https://images.unsplash.com/photo-1581947665698-985b774e8c46?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1267&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-11 {
    background-image:  url(https://images.unsplash.com/photo-1500622944204-b135684e99fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1901&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
/* america del norte */
#title-card-12 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-13 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-14 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-15 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-16 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-17 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-18 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-19 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-20 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-21 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-22 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-23 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-24 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-25 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-26 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-27 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-28 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-29 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-30 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-31 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-32 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-33 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-34 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-35 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-36 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-37 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-38 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-39 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-40 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-41 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-42 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-43 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-44 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-45 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}
#title-card-46 {
    background-image:  url(https://images.unsplash.com/photo-1567855613099-5d5bf3b8457c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ; 
    background-size: cover;
    background-position:center; 
    background-blend-mode:darken; 
    width:300px;
    height:300px;
    text-shadow: 2px 2px white;
}



#icon-movil {
    width: 100px;
    height: 50px;
    position: relative;
    animation: mymove 10s infinite ;
}

@keyframes mymove {
    0% {right: 0px;}
    25%  {right: 50px;}
    50%  {right: 0px;}
    75%  {right:  -50px;}
    100% {right: 0px;}
}

.flip-card-back {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    /* background: #07b2c7; */
    /* background: #fbe9ea; */
    /* background: #99b4de; */
    /* background: #ece4da; */
    color: #002229;
    background: #9ec6e2;
}

#title-card-1 {
    color: red;
    text-shadow: 1px 1px black;
}
